.pagination{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}
.pagination__iteam{
    margin: 0 .5rem 3rem ;
  
}
.pagination__link{
    display: block;
    border-radius: 3px;
    height: 4rem;
    width: 4rem;
    background-color: #0D0D0D;
    box-shadow: 0 4px 4px rgba($black, .25);
    color: $white;
    font-size: 1.4rem;
    line-height: 4rem;
    font-family: inherit;
    text-decoration: none;
    text-align: center;
    transition: .4s linear;
        &:hover{
            background-color: $blue;
            text-decoration: none;
        }
}