.post{
    box-shadow: 0px 15px 25px rgba($black, .35) ;
    border-radius: 5px;
    padding: 2.8rem;
    background-color: $primary;
    margin-bottom: 3rem;
    overflow: hidden;
}
.post__header{
    margin: 0 0 2.5rem;
    border-radius: .5rem;
        &--preview{
            margin: -2.8rem -2.8rem 2.5rem;
        }
}
.post_preview{
    display: block;
    width: 100%;
    height: auto;
}
.post__content{
    padding-bottom: .5rem;
}
.post_descripton{
    font-size: 1.4rem; 
    color: #D2D2D2;
    line-height: 2.1rem;   
}
.post__text{
    color: $white;
    border-bottom: 3px solid #1C1C1C;
    font-size: 1.4rem;
        p{
            margin-bottom: 2rem;
        }
        img{
            width: 100%;
            height: auto;
        }
        h2, h3, h4, h5, h6{
            font-weight: 700;
            margin-bottom: 2rem;
        }
        h2{
          font-size: 1.5em;  
        }
        h3{
            font-size: 1.25em;  
          }
          h4{
            font-size: 1.15em;  
          }
          h5, h6{
            font-size: 1.05em;  
          }
          a{
              color: $blue;
          }
          ol, ul{
              margin-bottom: 2rem;
          }
          ol{
              list-style: decimal;
              list-style-position: inside;
          }
          table{
              width: 100%;
              margin-bottom: 2rem;
          }
}
.post__title{
    margin-bottom: 1.5rem; 
    color: $white;
    font-size: 1.8rem;
    font-weight: 500;
    a{
        color: inherit;
    }
            &--mb0{
                margin-bottom: 0;
            }
}
.post__data{
    color: #828282;
    display: flex;
     a{
        color: inherit;
    }
   
} 
.post__data-item{
   &:not(:last-child):after{
         content: "";
        display: inline-block;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        margin: 0 1.5rem;
        background-color:#C4C4C4;
    }
    a:hover{
        text-decoration: none;
    }  
}
.post__actions{
    display: flex ;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    
    color: $white; 
    font-size: 1.2rem;
        a{
            color: inherit;
            opacity: 0.6;
        }
}
.post_ations-icon{
    margin-left: .7rem;
}















