.subnav{
    display: none;

    padding: .5rem 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba($black, .2);

    position: absolute; 
    top: 100%;
    left: 0;
    width: 16.5rem;   
    background-color: $blue;
}
.subnav__link{
    display: block;
    font-size: 1.2rem;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.45rem 1.2rem;
    line-height: 1.4rem;
     &:hover{
         text-decoration: none;
     }
}